:root{
    --mycolor-primary:#f4e9f1;
    --mycolor-secondary:#c8795c;
}
.mycolor-primary{
    color:var(--mycolor-primary);

}
.mycolor-secondary{
    color:var(--mycolor-secondary);
}

.mybg-primary{
    background:var(--mycolor-primary);
}
.mybg-secondary{
    background:var(--mycolor-secondary);
}
.fa-social{
    color:var(--mycolor-secondary);
    width: 2rem;
    height: 2rem;
}
.fa-basket{
    color:var(--mycolor-secondary);
    width: 1rem;
    height: 1rem;
}

.btn-size{
    height: 4rem;
    width: 4rem;
}
.img-basket{
    width: 7rem;
}

.spacing-btn-modal{
    justify-content: space-between;
}
